<div class="navbar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/add-student">Add New Students</a></li>
    <li><a routerLink="/student-list">Students List</a></li>
    <li><a routerLink="/add-course">Add New Courses</a></li>
    <li><a routerLink="/course-list">Courses List</a></li>
    <li><a routerLink="/add-result">Add New Results</a></li>
    <li><a routerLink="/result-list">Results List</a></li>
  </ul>
</div>
<div class="content">
  <h1>Student Result Management System</h1>
  <router-outlet></router-outlet>
</div>
